{
  "rules": {
    "multiline-ternary": "error",
    "operator-linebreak": [
      "error",
      "after",
      { "overrides": { "?": "before", ":": "before", ".": "before" } }
    ]
  }
}
// extends: problems
// env:
//   node: true
